<h2>
    <i class="far fa-calendar-alt"></i>
    <%= @professors[:date] %>
</h2>
<h1>Feedback for <%= @professors[:title] %></h1>

<form action="/professors/<%= @professors[:id] %>/feedback/create">
  <div class="form-group">
    <label>Are you a current student?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Professor Review</label>
    <textarea class="form-control" rows="3" name="feedback"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>